@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@500;700&display=swap");
body {
  font-size: 16px;
  font-family: "Kumbh Sans", sans-serif;
  overflow-x: hidden;
}

@media only screen and (max-width: 912px) {
  body {
    margin: 0;
    padding: 0;
  }
}

body .container {
  max-width: 1440px;
  margin: 0 auto;
}

@media only screen and (max-width: 912px) {
  body .container {
    max-width: 375px;
  }
}

nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: baseline;
  padding-top: 20px;
  width: 100%;
  border-bottom: 1px solid #dde1e9;
}

nav .mobilenav {
  display: none;
  transition: all 0.2s ease-out;
}

@media only screen and (max-width: 912px) {
  nav .mobilenav {
    display: inline;
    padding-right: 12px;
    cursor: pointer;
  }
}

@media only screen and (max-width: 912px) {
  nav {
    margin: 0 auto;
    margin-bottom: 16px;
    border-bottom: 1px solid white;
    width: 90%;
  }
}

nav .logo {
  flex-grow: 1;
}

nav .menu {
  flex-grow: 1;
}

nav .menu .list {
  display: flex;
  list-style-type: none;
  margin-block-end: 0;
}

nav .menu .list__item {
  color: #68707d;
  padding: 0 12px;
  padding-bottom: 30px;
  margin-bottom: 0;
  cursor: pointer;
  border-bottom: 4px solid white;
  transition: all 0.3s ease-out;
}

nav .menu .list__item:hover {
  border-bottom: 4px solid #ff7d1a;
}

@media only screen and (max-width: 912px) {
  nav .menu {
    display: none;
  }
}

nav .user {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-grow: 20;
}

nav .user__cart {
  position: relative;
}

nav .user__cart img {
  cursor: pointer;
}

nav .user__cart .cart-amount {
  font-weight: 700;
  position: absolute;
  top: -6px;
  right: -10px;
  font-size: 0.6em;
  color: white;
  background-color: #b6bcc8;
  padding: 1px 8px;
  border-radius: 8px;
  z-index: 2;
}

nav .user__cart #blocker {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  content: " ";
  background: rgba(0, 0, 0, 0);
  display: none;
  cursor: initial;
}

nav .user__cart #blocker.active {
  display: block;
}

nav .user__cart .cart-table {
  display: none;
  z-index: 4;
  background-color: white;
  position: absolute;
  top: 50px;
  right: -50px;
  width: 360px;
  border-radius: 8px;
  -ms-box-shadow: -3px 19px 20px -1px rgba(0, 0, 0, 0.2);
  box-shadow: -3px 19px 20px -1px rgba(0, 0, 0, 0.2);
}

@media only screen and (max-width: 912px) {
  nav .user__cart .cart-table {
    right: -50px;
    width: 350px;
  }
}

nav .user__cart .cart-table.active {
  display: block !important;
}

nav .user__cart .cart-table .header {
  padding: 6px 20px;
  border-bottom: 1px solid #dde1e9;
}

nav .user__cart .cart-table .header h3 {
  font-size: 1em;
}

nav .user__cart .cart-table .row {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .user__cart .cart-table .row .empty-cart {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav .user__cart .cart-table .row .thumb {
  width: 60px;
  height: 58px;
  border-radius: 8px;
  overflow: hidden;
}

nav .user__cart .cart-table .row .thumb img {
  width: 100%;
  height: auto;
}

nav .user__cart .cart-table .row .product {
  font-size: 0.9em;
  height: 60px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  padding-left: 12px;
  color: #68707d;
}

nav .user__cart .cart-table .row .product__price {
  padding-top: 8px;
  text-align: left;
}

nav .user__cart .cart-table .row .product__price strong {
  padding-left: 8px;
  font-weight: 700;
}

nav .user__cart .cart-table .row .product__price .product-total {
  font-weight: 700;
  color: black;
  padding-left: 4px;
}

nav .user__cart .cart-table .row .delete-btn {
  padding-left: 10px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

nav .user__cart .cart-table .row .delete-btn:hover {
  filter: brightness(0);
}

nav .user__cart .cart-table .checkout-btn {
  padding: 20px;
  padding-top: 0;
}

nav .user__cart .cart-table .checkout-btn button {
  width: 100%;
  padding: 20px;
  background-color: #ff7d1a;
  color: white;
  border: none;
  border-radius: 8px;
  margin: 0 auto;
  font-size: 0.9em;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

nav .user__profile {
  padding-left: 16px;
}

nav .user__profile img {
  width: 35px;
  height: 35px;
}

@media only screen and (max-width: 912px) {
  nav .user__profile img {
    width: 24px;
    height: 24px;
  }
}

main {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 96px;
  padding: 0 56px;
  width: 100%;
}

@media only screen and (max-width: 912px) {
  main {
    flex-flow: column nowrap;
    padding: 0;
    margin: 0;
  }
}

main .gallery {
  margin-left: 96px;
}

@media only screen and (max-width: 912px) {
  main .gallery {
    margin: 0;
  }
}

main .gallery__main {
  position: relative;
  border-radius: 16px;
  max-width: 550px;
  max-height: 550px;
  overflow: hidden;
}

@media only screen and (max-width: 912px) {
  main .gallery__main {
    border-radius: 0;
    max-width: 100%;
    height: 330px;
  }
}

main .gallery__main .mainImage-container {
  position: relative;
  cursor: pointer;
}

main .gallery__main .mainImage-container .mobile-blocker {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  display: none;
}

@media only screen and (max-width: 912px) {
  main .gallery__main .mainImage-container .mobile-blocker {
    display: block;
  }
}

main .gallery__main .mainImage-container img {
  width: 100%;
  height: auto;
}

main .gallery__main .gallery-nav {
  display: none;
}

@media only screen and (max-width: 912px) {
  main .gallery__main .gallery-nav {
    display: flex;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) translateX(5%);
    justify-content: space-between;
    z-index: 3;
    width: 90%;
  }
  main .gallery__main .gallery-nav img {
    width: 14px;
    height: 14px;
    background-color: #f7f8fd;
    padding: 12px;
    border-radius: 50%;
    cursor: pointer;
  }
}

main .gallery__thumb {
  max-width: 550px;
}

@media only screen and (max-width: 912px) {
  main .gallery__thumb {
    display: none;
  }
}

main .gallery__thumb ul {
  list-style-type: none;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 0;
}

main .gallery__thumb ul li {
  border: 3px solid white;
  border-radius: 16px;
  overflow: hidden;
  margin-right: 16px;
  cursor: pointer;
}

main .gallery__thumb ul li:last-child {
  margin-right: 0;
}

main .gallery__thumb ul li img {
  width: 100%;
  height: auto;
}

main .gallery__thumb ul .active {
  border: 3px solid #ff7d1a;
  cursor: initial;
}

main .gallery__thumb ul .active img {
  filter: contrast(0.3) brightness(1.6);
}

main .description {
  flex-grow: 1.5;
  max-width: 450px;
  margin-left: 96px;
  margin-top: 48px;
}

@media only screen and (max-width: 912px) {
  main .description {
    margin: 24px auto;
    width: 90%;
  }
}

main .description .tag {
  text-transform: uppercase;
  font-weight: 700;
  color: #ff7d1a;
  letter-spacing: 2px;
}

@media only screen and (max-width: 912px) {
  main .description .tag {
    font-size: 0.75em;
  }
}

main .description .title {
  font-size: 2.75em;
  max-width: 400px;
  color: #1d2025;
}

@media only screen and (max-width: 912px) {
  main .description .title {
    font-size: 1.95em;
    margin-top: 10px;
  }
}

main .description .paragraph {
  max-width: 460px;
  color: #68707d;
  line-height: 1.75em;
}

main .description .price {
  display: block;
}

@media only screen and (max-width: 912px) {
  main .description .price {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
  }
}

main .description .price__tag {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 2em;
  color: #1d2025;
}

main .description .price__tag > .price__discount {
  font-size: 0.5em;
  font-weight: 700;
  padding: 4px 8px;
  border-radius: 3px;
  background-color: #ffede0;
  color: #ff7d1a;
  margin: 4px;
  margin-left: 20px;
}

main .description .price__before {
  padding: 15px 0;
  font-size: 1.15em;
  font-weight: 500;
  color: #b6bcc8;
  text-decoration: line-through;
}

main .description .cart {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
}

@media only screen and (max-width: 912px) {
  main .description .cart {
    flex-flow: column nowrap;
  }
}

main .description .cart__amount {
  display: flex;
  align-items: stretch;
}

@media only screen and (max-width: 912px) {
  main .description .cart__amount {
    width: 100%;
  }
}

main .description .cart__amount:after {
  content: "";
  clear: both;
  display: table;
}

main .description .cart__amount button:not(:last-child) {
  border-right: none;
  /* Prevent double borders */
}

main .description .cart__amount button {
  font-size: 1.5em;
  font-weight: 500;
  background-color: #f7f8fd;
  border: #f7f8fd;
  color: #ff7d1a;
  padding: 14px 22px;
  cursor: pointer;
  float: left;
  /* Float the buttons side by side */
  transition: all 0.3s ease-out;
}

main .description .cart__amount button:first-child {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

main .description .cart__amount button:first-child img {
  transform: translateY(-5px);
}

main .description .cart__amount button:nth-child(2) {
  font-size: 1.15em;
  font-weight: 700;
  color: #1d2025;
  width: 28px;
  cursor: initial;
}

main .description .cart__amount button:nth-child(2):hover {
  background-color: #f7f8fd;
}

main .description .cart__amount button:nth-child(2) p {
  margin: 0;
  transform: translateX(-4px);
}

@media only screen and (max-width: 912px) {
  main .description .cart__amount button:nth-child(2) {
    flex-grow: 2;
  }
}

main .description .cart__amount button:last-child {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

main .description .cart__amount button:hover {
  background-color: #e2e4e9;
}

main .description .cart__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60%;
  background-color: #ff7d1a;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 1em;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.2s ease-out;
}

@media only screen and (max-width: 912px) {
  main .description .cart__btn {
    width: 100%;
    min-height: 60px;
    margin-top: 12px;
  }
}

main .description .cart__btn:hover {
  background-color: #e66300;
}

main .description .cart__btn img {
  padding-right: 12px;
  filter: contrast(100) invert(1);
  width: 20px;
}

#lightbox {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
}

#lightbox .slidernav {
  position: absolute;
  transform: translateY(-100%);
  display: flex;
  width: 720px;
  justify-content: space-between;
  align-items: center;
}

#lightbox .slidernav__prev, #lightbox .slidernav__next {
  width: 13px;
  height: 18px;
  border-radius: 50%;
  padding: 15px 18px;
  background-image: url(../images/icon-next.svg);
  background-size: auto;
  background-color: #b6bcc8;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #b6bcc8;
  cursor: pointer;
}

#lightbox .slidernav__prev:hover, #lightbox .slidernav__next:hover {
  background-image: url(../images/icon-next-hover.svg);
}

#lightbox .slidernav__prev {
  transform: rotate(180deg);
}

#lightbox .close-btn {
  transform: translate(292px, -20px);
  width: 18px;
  height: 18px;
  cursor: pointer;
  background-image: url(../images/icon-close.svg);
  background-size: cover;
}

#lightbox .close-btn:hover {
  background-image: url(../images/icon-close-hover.svg);
}

#lightbox.active {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

#lightbox img {
  width: 600px;
  height: 600px;
  border-radius: 8px;
}

#lightbox .gallery__thumb {
  max-width: 600px;
}

@media only screen and (max-width: 912px) {
  #lightbox .gallery__thumb {
    display: none;
  }
}

#lightbox .gallery__thumb ul {
  list-style-type: none;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  padding: 0;
}

#lightbox .gallery__thumb ul li {
  border: 3px solid transparent;
  border-radius: 16px;
  overflow: hidden;
  margin-right: 16px;
  cursor: pointer;
}

#lightbox .gallery__thumb ul li:last-child {
  margin-right: 0;
}

#lightbox .gallery__thumb ul li img {
  width: 100%;
  height: 100%;
}

#lightbox .gallery__thumb ul .active {
  border: 3px solid #ff7d1a;
  cursor: initial;
}

#lightbox .gallery__thumb ul .active img {
  filter: contrast(0.3) brightness(1.6);
}

.attribution {
  position: relative;
  margin-top: 48px;
  margin-bottom: 12px;
  font-size: 11px;
  text-align: center;
}

@media only screen and (max-width: 912px) {
  .attribution {
    position: relative;
    margin-top: 48px;
    margin-bottom: 12px;
    text-align: left;
    padding-left: 20px;
  }
}

.attribution a {
  color: #3e52a3;
}
